In [5]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. Julia

In [ ]:
Some of the popular libraries that Data Scientists use are:
1. arcPy
2. numPy
3. matplotlib

Some of the popular libraries that Data Scientists use are:
1. arcPy
2. numPy
3. matplotlib

In [ ]:
| Data Science Tools |
| ------------------- |
| Apache Spark |
| Hadoop |
| TensorFlow |

| Data Science Tools |
| ------------------- |
| Apache Spark |
| Hadoop |
| TensorFlow |

In [9]:
### Below are a few examples of evaluating arithmetic expressions in Python.

### Below are a few examples of evaluating arithmetic expressions in Python.

In [10]:
2 + 3

5

In [11]:
5 - 2

3

In [12]:
4 ** 9

262144

This a simple arithmetic expression to mutiply then add integers.

In [15]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [27]:
int(200 / 60)

3

In [28]:
200 / 60

3.3333333333333335

**Objectives:**
- Learning Objectives
- Describe how to use the notebooks in JupyterLab.
- Describe how to work in a notebook session.
- Describe the basic Jupyter architecture.
- Describe how to work with kernels.
- Identify tools in Anaconda Jupyter environments.
- Describe cloud-based Jupyter environments and their data science features.

## Author

Alton Deslandes